gunicorn==20.1.0
h5py==3.1.0
heroku==0.1.4
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
matplotlib==3.4.2
matplotlib-inline==0.1.2
numpy==1.19.5
Pillow==8.3.1
protobuf==3.17.3
psutil==5.8.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydeck==0.6.2
Pygments==2.9.0
PyJWT==1.7.1
pylint==2.7.2
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==1.5
streamlit==0.86.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
wrapt==1.12.1
yarg==0.1.9
